/** {
    box-sizing: border-box;
}

*/
html{

	height:100%;
	margin:0;
	padding:0;
}


@media screen and (max-width: 480px) {
    .container-fluid .form-group input[type=text]
    {font-size: 16px;}
}

@media screen and (max-width:480px) {
    .container-fluid .form-group label{font-size: 14px;}
    span{font-size:14px;}
    .container-fluid label
    {
    	font-size: 14px;
    	 
    }
}
  
@media screen and (max-width: 480px){

	.container-fluid  .recommended
	{
        max-height:540px;
        

	}
}

#login_form{
	
	
	background:#B3E5FC;
	
   /* position: absolute;
      top:40%;
      bottom:0;
      left:25%;
      right:0;*/
    /* top:140px;
    bottom: 0;
    left: 410px;
    right: 0;
*/
   /* margin:0 auto;
    margin-top:10%;*/
    


}
input{




font-size:16px;



}
.container-fluid label{
	
	
	 
    color:blue;
	/*font-weight:bold;*/
	
        
}
.container-fluid label.btn
{
	color:white;
	background:#357ed5;
}

h1, h2{

	color:red;

	text-align:center;
}
h3
{
	color:blue;
	text-align:center;

}
h4
{
	text-align:center;
}

.container-fluid .form-group .control-label
{
  padding-right:0px;
}
.container-fluid .panel-body .form-group .form-control-static
{
  padding-left:0px;
 
}


.container-fluid .panel .form-group .control-label
{
  font-size:16px;
}
.container-fluid .panel .form-group .form-control-static
{

  font-size:16px;
}
label,p 
{

  font-size:16px;
}

input[type=button]
{

	background:#357ed5;
	cursor:pointer;
	/*height:34px;*/
	color:white;
	font-size:18px;

}
textarea#qualifications
{
  
}

button{
	cursor:pointer;
	background:#357ed5;
	font-size:4px;
	color:white;
}


#container{

	/*width:1400px;*/
	/*margin-left:100px;*/
}
/*#search{
    width: 980px;
	margin:auto;
}*/
/*table{

	margin-bottom:18px;
	margin:0 auto;
	
	border-spacing:0px;
	

}
table div
{
      min-width:50px;
      max-width:200px;
      height: 100px;
      line-height: 100px;
      text-align: center;
      overflow:hidden;
      
    
}

table span
{     
      display: inline-block;
      vertical-align: middle;
    
      line-height: normal;
}
td{


     border: 1px solid blue;
   
      
     min-width:100px;
     max-width:250px;
     text-align:center;

     max-height:140px;
     height:70px;
     font-size:18px;
     overflow:hidden;
     
     word-wrap:break-word;
    

}*/
th{

	text-align:center;
	background:ivory;
	
	border: 1px solid blue;
	color:red;
	font-size:16px;
	/*padding:4px;*/
	/*width:100px;*/
	border-collapse:collapse;



}
.j
{

	color:red;
}
.sort_asc::after{

	content:'▲';
}

.sort_desc::after{

	content:'▼';
}
#pagination a{
	margin-top:8px;
background:yellow;
padding:4px 7px;
border: 1px solid red;
color:blue;
font-size:18px;
text-align:center;


}
#pagination strong
{

	font-size:18px;
}
input[type=text],input[type=password],input[type=input]

{
   /*#fff*/
  border: solid 1px lightgray;
  /*box-shadow: inset 1px 1px 2px 0 #707070;*/
 /* transition: box-shadow 0.3s;*/
    /*//border-bottom:;*/
    
	/*display:block;*/
	
	
	


}
textarea
{
border: solid 1px #fff;
  box-shadow: inset 1px 1px 2px 0 #707070;
	font-size:16px;
	
}
input[type=submit]
{
    color:white;
	background:#357ed5;
	font-size:18px;
	cursor:pointer;
}
select
{
    /*border: solid 1px #fff;
  box-shadow: inset 1px 1px 2px 0 #707070;
	height:34px;
	width:340px;
	font-size:16px;*/
}


